* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  /* Cores */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --accent-color-purple: #B259FF;
  --accent-color-fuschia: #FF59F9;
  --accent-color-pink: #FF598B;
  --accent-color-orange: #FF8B59;
  --accent-color-yellow: #FFCD59;
  --accent-color-lime: #E1FF59;
  --accent-color-green: #59FF91;
  --accent-color-cyan: #59FFF9;
  --accent-color-navy: #6A59FF;

  --feedback-danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  /* Tipografia */

  --font-family-leckerli-one: "Leckerli One", cursive;
  --font-family-baloo-2: "Baloo 2", sans-serif;
  --font-family-open-sans: "Open Sans", sans-serif;

  --text-logo: 400 2.5rem var(--font-family-leckerli-one);
  --heading-md: 700 1.75rem var(--font-family-baloo-2);
  --heading-sm: 700 1.125rem var(--font-family-baloo-2);
  --body-md: 400 1rem var(--font-family-open-sans); 
  --body-md-semi-bold: 600 1rem var(--font-family-open-sans);
  --body-sm: 400 .875rem var(--font-family-open-sans); 
  --body-sm-semi-bold: 600 .875rem var(--font-family-open-sans);
  --body-xs: 400 .75rem var(--font-family-open-sans); 
  --body-xs-semi-bold: 600 .75rem var(--font-family-open-sans);
}

body {
  overflow: hidden;
  font: var(--body-sm);
  color: var(--text-body);
  background-color: var(--shape-background);
}