#app {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  overflow: hidden;
  gap: 1.25rem;
  margin: 1.25rem;
}

aside {
  background-image: url(../assets/images/Background.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: calc(100vh - 2.50rem);
  border-radius: .75rem;

  & div {
    margin: 2rem;
  }

  & div h1 {
    font: var(--text-logo);
    color: var(--accent-color-pink);
    margin-bottom: 4px;
  }

  & div p {
    font: var(--body-md-light);
    color: var(--text-heading);
  }
  
  & div img {
    width: 45.85px;
    height: 48px;
    margin-bottom: 16px;
  }

}

main {
  border-radius: .75rem;
  background-color: var(--shape-body);
  overflow: auto;
  padding: 5rem 8.125rem;
  & h1 {
    font: var(--heading-md);
    color: var(--text-heading);
  }
}